@charset "utf-8";

#email{
	width:640px;
	height:50px; 
	background-color: #FAFFBD;
	font-family:'MS Serif', 'New York', serif;
	font-size: 3em;
}

#password{
	width:640px;
	height:50px;
	background-color: #FAFFBD;
	font-family:'MS Serif', 'New York', serif;
	font-size: 3em;
}

#login_button{
	font-size: 3em;
	border-radius:10px; 
	margin:15px;
}
