@charset "UTF-8";


.dayCalendarHeader{
	width:45px; 
	text-align:center;
}
.dayCalendarBody{

}
.dayCalendarBody .ui-selecting { background: #E8F4FF; }
.dayCalendarBody .ui-selected { background: #DFF3FF; }

.hour_element{

}
.hour_first_part_element{

}

.eventOfDay{
	font-size:11px;
	position:absolute;
	right:15%;
	top:0px;
	background:#DFF3FF;
	width:85%;
	z-index:2;
	border: 1px solid #000000;
}
.halfHour{
	position:relative;
}
.eventTime{
	
}