@charset "UTF-8";


.dayCalendarHeader{
	
}
.dayCalendarBody{
	border:1px solid #09F;
}
.dayCalendarBody .ui-selecting { background: #E8F4FF; }
.dayCalendarBody .ui-selected { background: #DFF3FF; }

.hour_element{
	border: 1px solid #069;
}
.hour_first_part_element{
	border-bottom:1px dotted #0033CC;
}

