@charset "utf-8";

body {
	background-color: #FFF;
	color: #000;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font: 100%/1.4 Arial;
	overflow:hidden;
	background: url(images/ui-bg_diagonals-thick_90_eeeeee_40x40.png) repeat 0 center;
}
#login_form{
	width: auto;
	padding: 5px 5px;
}
#email{
	width:400px;
	height:40px; 
	font-family:'MS Serif', 'New York', serif;
	font-size: 2em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

#password,#repassword,#name,#surname{
	width:400px;
	height:40px; 
	font-family:'MS Serif', 'New York', serif;
	font-size: 2em;
}


#login_button{
	font-size: 22px;
	border-radius:10px; 
	margin-left: 38%;
}

#register_button{
	font-size: 22px;
	border-radius:10px; 
	margin-left: 32%;
}
#accept{
	margin:10px 10px;
}
