#warning_events_bar {
	display: none;
	background-color: #FFFFFF;
	color: #1A1A1A;
	position: fixed;
	padding: 0px;
	z-index: 308;
	margin: 0px;
	border: 1px solid #2D2D2D;
	overflow: auto;
	left:5px;
	bottom:5px;
	max-height:350px;
	min-width:172px;
	width:20%;
	font-size:14px;
}

#warning_events_header {
	background-color:#39F;
	color: #FFF;
	font-size: 16px;
	text-align: center;
}

.single_event {
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-top-color: #000;
	border-top-style: groove;
}

.event_name {
	background-color: #CCC;
	border-bottom-color: #000;
	font-family: "Comic Sans MS", cursive;
	font-weight: 500;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	cursor:pointer;
}

.event_description {
	font-family: Verdana, Geneva, sans-serif;
	font-size:8px;
}

.start_time {
	font-family: "Comic Sans MS", cursive;
	text-align: right;
}
