#warning_events_bar {
	display: none;
	width: 200px;
	height: 350px;
	background-color: #FFFFFF;
	color: #1A1A1A;
	position: absolute;
	padding: 0px;
	z-index: 2000;
	margin: 0px;
	border: 1px solid #2D2D2D;
	overflow: auto;
	left:25px;
	bottom:25px;
}

#warning_events_header {
	background-color: #141414;
	color: #FFF;
	font-size: 18px;
	text-align: center;
}

.single_event {
	margin: 0px;
	padding: 0px;
	border-top-width: 1px;
	border-top-color: #000;
	border-top-style: groove;
}

.event_name {
	background-color: #CCC;
	border-bottom-color: #000;
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	cursor:pointer;
}

.event_description {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.start_time {
	font-family: "Comic Sans MS", cursive;
	font-size: 15px;
	text-align: right;
}