@charset "UTF-8";


.dayCalendarHeader{
	width:45px; 
	text-align:center;
}
.dayCalendarBody{

}
.dayCalendarBody .ui-selecting { background: #E8F4FF; }
.dayCalendarBody .ui-selected { background: #DFF3FF; }

.hour_element{

}
.hour_first_part_element{

}

.eventOfDay{
	position:absolute;
	right:15%;
	top:1px;
	background:#DFF3FF;
	width:85%;
	z-index:2;
}
.halfHour{
	position:relative;
}
.eventTime{
	 display:none;
}